<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudo Flask</title>
</head>
<body>
    <div>
        <h3>Estudo Flask</h3>
        <h5>@estudoflask</h5>
    </div>
    <div>
        <p>Bem vindo {{context.usuario}} à aula de Flask!</p>
        <p><strong>idade</strong>: {{context.idade}}</p>
        
        <a href="/sobre/">Link Sobre(sem url_for), aponta para a url.</a><br><br>
        <a href="{{url_for('sobre')}}">Link Sobre(com url_for), aponta para a função.</a>
    </div>
</body>
</html>