<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudo Flask</title>
</head>
<body>
    <div>
        <h3>Estudo Flask</h3>
        <h5>@campcodebrasil</h5>
    </div>
    <div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Quidem tenetur eos atque voluptate modi facere impedit,
        autem quasi aut eius omnis in repudiandae molestias inventore odio eaque,
        quas repellendus exercitationem!</p>
        
        <a href="/nova/">link com a URL literal aponta pra URL e não para a função</a><br><br>
        <a href="{{url_for('novapag')}}">link com url_for apontando para a função e não pra URL</a>
    </div>
</body>
</html>